* {margin:0%;padding:0%;} 
html, body {height: 100%;}

body{
    /*background-image: url("../pics/body-background.png");
    background-repeat: repeat;*/
    background-color: rgba(150, 59, 255, 0.33);;
    color: #000000;
    font-size: 1.75em;
    width: 100vw;
    padding: 0%;
    height: 100vh;
}

.page-header{
    border-bottom: 1px solid #000000;
}

input, textarea, select, #vlado-div, #tedi-div {
    color: black;
}

label {
    color: #2d3d94;
}
a {
    color: rgb(0,0,255);
}

h1, h2{
    color: #000000;
}

#main-container {
    margin: 2% 2% 2% 2%; 
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 1% 1% 10% 1%; /* must be same height as the footer */
    width: 66%;

}

#header p, #footer p{
    margin: 0;
}

#header, #footer {
    margin:0%;
    background:#ffffff;
    background: -webkit-linear-gradient(left, #5f90de 0%, #001433 100%); 
    background: -o-linear-gradient(right, #5f90de 0%, #001433 100%); 
    background: -moz-linear-gradient(right, #5f90de 0%, #001433 100%);
    background: linear-gradient(to right, #5f90de 0%, #001433 100%); 
    line-height: 2em;
    color: white;
    font-size: 2em;
    font-style: italic;
    font-weight: bold;
    padding-left: 2%;
    text-shadow: 2px 2px #000000;
}

#footer {
    /*margin-top: 50px;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;*/
    margin-top: 15vh;
    position: relative;
    height: 15%;
    clear:both;
}

.left-banner-item{
    margin: 2% 1% 2% 0;
}

#left-banner {
    margin-right: 10%;
    width: 10%;
}

#right-banner{
    margin-right: 1.5%;
}

#footer-img {
    width: 100%;
    height: 90%;
    border: none;
    margin: 0%;
    padding: 0%;
}

.comment {
    margin: 2%;
    /*border: 1px solid red;*/
    color: #3d1c9c;   
    border-radius: 0px 10px 0px 0px; 
}

.comment-field { 
    margin: 3% 0 0 2%;
    width: 85%;
}

#add-comment-btn {
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 20%;
}

#submit-btn, #reg-submit-btn {
    margin: 2% 0%;
}




#home-page-avatar {
   width: 90%;  
}



#text {
    background-color: rgba(51, 31, 140, 0.69);
    color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    padding: 1.25em;
    border-radius: 10px;
}

#likes-field, #dislikes-field {
    font-size: 1.5em;
}

#add-videos-section{
    margin: 3%;
}

ol li{
    margin-left: 2%;
}

img{
    width: 70%;
    display: block;
    margin: 20% auto;
    border: 5px outset #ffffff;
    border-radius: 10%;
}


tr:hover {
    color: rgb(255,0,0);
}


@media screen and (max-height: 599px){
    #footer-img{
        display: none;
    }
}


table{
    margin-top: 2%;
    color: #000000;
    border-collapse: separate;
}

tr:nth-child(even){
    background-color: #ffffff;
}

tr:nth-child(odd){
    background-color: rgba(51, 31, 140, 0.33);
}

th{
    background-color: rgba(51, 31, 140, 0.59);
    color: #ffffff; 
}

@media screen and (max-width : 800px){

#header{
    height: 15%;
}

#header p {
  text-indent: -9999px;
  line-height: 0; /* Collapse the original line */
}

#header p:after {
  content: "Студентски вестник";
  text-indent: 0;
  display: block;
  line-height: initial; /* New content takes up original line height */
  text-align: center;
}



#left-banner{
    display: none;
}

#right-banner{
    display: none;
}

#footer{
    font-size: 1em;
    font-weight: normal;
}

#footer-img{
    width: 20%;
    height: 30%;
    margin: 0% 30%;
    clear: both;
}

#mobile-break{
    display: block;
    margin: 2% 0%;
}
}


@media screen and (min-width: 801px) and (max-width : 992px){
    #right-banner{
        display: none;
    }
    #left-banner{
        display: none;
    }

#footer-img{
    width: 30%;
    height: 30%;
    margin: 0% 30%;
    clear: both;
}
}

@media screen and (min-width: 993px) and (max-width : 1000px){
    #right-banner{
        display: inline;
    }
    #left-banner{
        display: none;
    }
}