* {margin:0;padding:0;} 
html, body {height: 100%;}

body{
    background-image: url("../pics/body-background.png");
    background-repeat: repeat;
    color: lightgrey;
    font-size: 20px;
}


input, textarea, select, #vlado-div, #tedi-div {
    color: black;
}

label {
    color: aqua;
}

tr:hover {
    color: black;
}

a {
    color: greenyellow;
}

#main-container {
    margin-top: 50px; 
    overflow-y: hidden;
    overflow-x: hidden;
    padding-bottom: 180px; /* must be same height as the footer */
}

#header, #footer {
    background-image: url("../pics/header-footer-background.png");
    background-repeat: repeat;
    height: 5%;
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    padding-left: 20px;
}

#footer {
    /*margin-top: 50px;
    height: 10%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;*/
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear:both;
}

.left-banner-item{
    margin: 20px 10px 20px 0;
}

#left-banner {
    margin-right: 5%;
}

#footer-img {
    width: 130px;
    height: 100px
}

.comment {
    margin: 20px;
    /*border: 1px solid red;*/
    color: green;    
}

.comment-field { 
    margin: 30px 0 0 20px;
    width: 85%;
}

#add-comment-btn {
    width: 10%;
    margin-left: 1%;
    height: 11\%;
    margin-top: 20px;
    margin-bottom: 116px;
}

#submit-btn, #reg-submit-btn {
    margin-top: 20px;
}

#forecast_embed {
    width: 340px;
}

#onlineRadioLink {
    width: 340px;
}

#home-page-avatar {
   width: 90%;  
}

#text {
    background-color: lightgray;
    color: black;
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
}

#likes-field, #dislikes-field {
    font-size: 30px;
}